---
import { Image } from "astro:assets";
import Spotify from "../images/spotify.svg";
import Canva from "../images/canva.svg";
import Universal from "../images/universal.svg";
---

<div class="container py-20 mx-auto max-w-7xl px-3 sm:px-6 md:px-10">
  <div class="flex gap-4 flex-col items-start">
    <h1 class="text-3xl text-bg-primary font-semibold">About CMFEST</h1>
    <div class="flex flex-col gap-6">
      <p class="text-bg-primary text-base">
        CMFEST is the biggest Community Managers Festival in Africa will bring
        together community managers and leaders for a day of learning,
        networking, collaborating & fun sessions to bridge the gap in building
        and managing credible communities in Africa.
      </p>
      <p class="text-bg-primary text-base">
        This year's festival will be an avenue for networking among leaders &
        managers, companies to launch & strengthen their community programs in
        Africa, panel discussions on hot topics in the community space & also
        proffer solutions to challenges faced by community leaders & managers in
        Africa.
      </p>
      <p class="text-bg-primary text-base">
        These are the sponsors we&apos;ve worked with in the past:
      </p>
    </div>
  </div>
  <div class="grid grid-cols-3 md:grid-cols-6 gap-10 w-full mt-10 px-2">
    <Image
      src={Spotify}
      alt="Spotify"
      class="h-10 w-auto"
    />
    <Image
      src={Canva}
      alt="Canva"
      class="h-10 w-auto"
    />
    <Image
      src={Universal}
      alt="Universal"
      class="h-10 w-auto"
    />
    <Image
      src={Spotify}
      alt="Spotify"
      class="h-10 w-auto"
    />
    <Image
      src={Universal}
      alt="Universal"
      class="h-10 w-auto"
    />
    <Image
      src={Spotify}
      alt="Spotify"
      class="h-10 w-auto"
    />
  </div>
  <div class="grid grid-cols-3 md:grid-cols-6 gap-10 w-full mt-10 px-2">
    <Image
      src={Spotify}
      alt="Spotify"
      class="h-10 w-auto"
    />
    <Image
      src={Canva}
      alt="Canva"
      class="h-10 w-auto"
    />
    <Image
      src={Universal}
      alt="Universal"
      class="h-10 w-auto"
    />
    <Image
      src={Spotify}
      alt="Spotify"
      class="h-10 w-auto"
    />
    <Image
      src={Universal}
      alt="Universal"
      class="h-10 w-auto"
    />
    <Image
      src={Spotify}
      alt="Spotify"
      class="h-10 w-auto"
    />
  </div>
</div>
