---
import Header from './Header'
import image from "../images/seo-bg.png";
interface Props {
  title: string;
}

const { title } = Astro.props;
const description = "A hybrid event designed for community leaders, managers, and everyone in between. Join us to learn, network, and engage in conversations focused on building sustainable communities that drive business growth."
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Inter:wght@300..700&display=swap" rel="stylesheet">
 <!-- Open Graph and Twitter Card meta tags for social sharing -->
 <meta property="og:title" content={title} />
 <meta property="og:description" content={description} />
 <meta property="og:image" content={image as unknown as string} />
 <meta property="og:url" content="https://www.cmfest.africa" />
 <meta name="twitter:card" content={image as unknown as string} />
 <meta name="twitter:title" content={title} />
 <meta name="twitter:description" content={description} />
 <meta name="twitter:image" content={image as unknown as string} />
    <title>{title}</title>
  </head>
  <body class="relative">
    <Header client:load />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --bg-primary: #121121;
    --bg-light: #CCCCCC;
    --bg-secondary: #F8F8FF;
    --bg-azure: #018FFB;
    --bg-bittersweet: #FD6A63;
    --bg-turquoise-light: #FD6A63;
    --text-turquoise: #04D5C9;
    --text-goldenrod: #FDBF3D;
    --text-primary: #F8F8FF;
    --text-secondary: #121121;
  }
  html {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }

  body {
    position: relative;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Space Grotesk", sans-serif;
  }
</style>
